$size: 1px; // Change Me
$height: $size / 8;
$margin: $size / 3.2;
$toggle: ($size + $margin*2) * 1.5; 

.header {
    position: absolute;
    background-color: white !important;
    z-index: 99;
    min-width: 100vw;
  
}

.backgroundImage {
    background-repeat: no-repeat;
    display: block;
    position: relative;
    background-position: 0 500px;
}

.header-text{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    min-height: 400px;

    .big-text{
        font-size: 34px;
    }
}

.nav{
    border-bottom: none !important;
    // background-color: red;

    & > a {
        border-bottom: none !important;
    }
}