$size: 1px; // Change Me
$height: $size / 8;
$margin: $size / 3.2;
$toggle: ($size + $margin*2) * 1.5; 


.with-icon {
    // display: flex !important;
    // flex-direction: row;
    

}
.header{

    background-color: transparent;
}
// .ant-menu{

//         display: flex;
//         justify-content: space-between;
//         box-sizing: border-box;
//         background: white;
//         padding: $size;
//         width: 500px;
//         top: 40px;
//         border-radius: $size/6;
//         overflow: visible;
//         position: absolute;
//         box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15);
  

// }
